@import url("inicio.css");
@import url("juego.css");
@import url("resultados.css");

:root {
  --background_image: url("../img/background.svg");
  --background_light: #f4f4f4;
  --background_dark: #262626;
  --typography_color: #D2A214;
  --white: #fff;
  --dark_blue: #0b0a2e;
  --yellow: ##ffb627;
  --blue: #3366cc;
  --red: #e41414;
}

@font-face {
  font-family: 'REWARD-PERSONAL';
  src: url('../fonts/REWARD-PERSONAL.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face {
  font-family: 'TAKE A SHOT PERSONAL USE';
  src: url('../fonts/TAKE A SHOT PERSONAL USE.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--typography_color);;
  font-family: "REWARD-PERSONAL", Roboto, sans-serif;
}

body {
  background: var(--background_image);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.gap-2 {
  gap: 2rem;
}

.padding-32 {
  padding: 32px;
}

header {
  color: white;
  padding: 10px 0;
  text-align: center;
}