<section class="inicio gap-2 padding-32">
    <!-- Aquí iría el tablero de Bingo -->
    <div class="parent">
        <span class="div1">B</span>
        <span class="div2">I</span>
        <span class="div3">N</span>
        <span class="div4">G</span>
        <span class="div5">O</span>
        <div class="d-flex div6">
            <img src="../static/img/nums/17.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div7">
            <img src="../static/img/nums/15.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div8">
            <img src="../static/img/nums/13.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div9">
            <img src="../static/img/nums/31.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div10">
            <img src="../static/img/nums/41.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div11">
            <img src="../static/img/nums/62.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div12">
            <img src="../static/img/nums/14.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div13">
            <img src="../static/img/nums/63.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div14">
            <img src="../static/img/nums/23.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div15">
            <img src="../static/img/nums/35.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div16">
            <img src="../static/img/nums/61.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div17">
            <img src="../static/img/nums/57.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>

        <div class="div18"><img src="../static/img/balas.png" loading="lazy" class="div18 item"> </img></div>

        <div class="d-flex div19">
            <img src="../static/img/nums/53.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div20">
            <img src="../static/img/nums/63.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div21">
            <img src="../static/img/nums/73.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div22">
            <img src="../static/img/nums/25.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div23">
            <img src="../static/img/nums/74.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div24">
            <img src="../static/img/nums/46.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div25">
            <img src="../static/img/nums/41.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div26">
            <img src="../static/img/nums/36.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div27">
            <img src="../static/img/nums/72.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div28">
            <img src="../static/img/nums/59.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div29">
            <img src="../static/img/nums/1.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
        <div class="d-flex div30">
            <img src="../static/img/nums/18.webp" loading="lazy" class="item"> </img>
            <img src="../static/img/wild.png" loading="lazy" class="item wild"> </img>
        </div>
    </div>
    <button class="generar d-flex" onclick="generarNumero()">
        <span class="generar__icono">
            <svg class="svg" height="100" viewBox="0 0 50 45" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M35.3 12.7c-2.89-2.9-6.88-4.7-11.3-4.7-8.84 0-15.98 7.16-15.98 16s7.14 16 15.98 16c7.45 0 13.69-5.1 15.46-12h-4.16c-1.65 4.66-6.07 8-11.3 8-6.63 0-12-5.37-12-12s5.37-12 12-12c3.31 0 6.28 1.38 8.45 3.55l-6.45 6.45h14v-14l-4.7 4.7z"></path><path d="M0 0h48v48h-48z" fill="none"></path></svg>
        </span>
    </button>
    <!-- 
        <div class="container d-flex">
            <h1 class="binguito__titulo">¡¡BINGUITO!!</h1>  
        </div>
    </div> -->
    <div class="binguito d-flex">
        <div class="binguito__letters d-flex">
            <span class="B">
                <p class="letter">B</p>
            </span>
            <span class="I">
                <p class="letter">I</p>
            </span>
            <span class="N">
                <p class="letter">N</p>
            </span>
            <span class="G">
                <p class="letter">G</p>
            </span>
            <span class="U">
                <p class="letter">U</p>
            </span>
            <span class="I2">
                <p class="letter">I</p>
            </span>
            <span class="T">
                <p class="letter">T</p>
            </span>
            <span class="O">
                <p class="letter">O</p>
            </span>
        </div>
    </div>
</section>