<section class="inicio">
        <!-- Aquí iría el tablero de Bingo --> 
    <div class="parent">
        <span class="div1">B</span>
        <span class="div2">I</span>
        <span class="div3">N</span>
        <span class="div4">G</span>
        <span class="div5">O</span>
        <img src="../static/img/nums/17.webp" loading="lazy" class="div6 item"> </img>
        <img src="../static/img/nums/15.webp" loading="lazy" class="div7 item"> </img>
        <img src="../static/img/nums/8.webp" loading="lazy" class="div8 item"> </img>
        <img src="../static/img/nums/16.webp" loading="lazy" class="div9 item"> </img>
        <img src="../static/img/nums/2.webp" loading="lazy" class="div10 item"> </img>
        <img src="../static/img/nums/14.webp" loading="lazy" class="div11 item"> </img>
        <img src="../static/img/nums/3.webp" loading="lazy" class="div12 item"> </img>
        <img src="../static/img/nums/13.webp" loading="lazy" class="div13 item"> </img>
        <img src="../static/img/nums/4.webp" loading="lazy" class="div14 item"> </img>
        <img src="../static/img/nums/12.webp" loading="lazy" class="div15 item"> </img>
        <img src="../static/img/nums/5.webp" loading="lazy" class="div16 item"> </img>
        <img src="../static/img/nums/11.webp" loading="lazy" class="div17 item"> </img>
        <img src="../static/img/balas.png" loading="lazy" class="div18 item"> </img>
        <img src="../static/img/nums/6.webp" loading="lazy" class="div19 item"> </img>
        <img src="../static/img/nums/10.webp" loading="lazy" class="div20 item"> </img>
        <img src="../static/img/nums/7.webp" loading="lazy" class="div21 item"> </img>
        <img src="../static/img/nums/9.webp" loading="lazy" class="div22 item"> </img>
        <img src="../static/img/nums/8.webp" loading="lazy" class="div23 item"> </img>
        <img src="../static/img/nums/29.png" loading="lazy" class="div24 item"> </img>
        <img src="../static/img/nums/19.webp" loading="lazy" class="div25 item"> </img>
        <img src="../static/img/nums/27.webp" loading="lazy" class="div26 item"> </img>
        <img src="../static/img/nums/18.webp" loading="lazy" class="div27 item"> </img>
        <img src="../static/img/nums/20.webp" loading="lazy" class="div28 item"> </img>
        <img src="../static/img/nums/26.webp" loading="lazy" class="div29 item"> </img>
        <img src="../static/img/nums/21.webp" loading="lazy" class="div30 item"> </img>
    </div>
    <button onclick="generarNumero()">Generar Número</button>
</section>