<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <img src="../static/img/logo.svg" loading="lazy" alt="Bingo">
        <!-- <nav>
            <ul>
                <li><a href="" onclick="cargarVista('inicio')">Inicio</a></li>
                <li><a href="" onclick="cargarVista('juego')">Jugar</a></li>
                <li><a href="" onclick="cargarVista('resultados')">Resultados</a></li>
            </ul>
        </nav> -->
    </header>

    <main id="contenido">
        <!-- Aquí se carga el contenido dinámicamente -->
    </main>

    <script src="../static/js/script.js"></script>
</body>
</html>