<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <img id="logo" src="../static/img/logo.svg" loading="lazy" alt="Bingo">
    </header>

    <main id="contenido">
        <!-- Aquí se carga el contenido dinámicamente -->
    </main>

    <script src="../static/js/script.js"></script>
</body>
</html>